:root {
  --grid-width: calc((100vw - 75px) / 3);
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-color: rgb(254, 250, 246);
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a, p, span, h1, h2, h3, h4, h6, h6, input {
  font-family: 'Open Sans', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
